<html>
  <head>
  <title>{%- block title -%}Contacts{%- endblock -%}</title>    
  </head>
  <body>
    <div id="header">
      {%- block header -%}
         Fusce suscipit ultricies ante. Pellentesque eu justo eu felis feugiat dictum auctor et tellus.
         Curabitur ut leo volutpat, condimentum massa nec, congue erat.  
      {%- endblock -%}
    </div>
    <div id="content">
        {%- block content -%}{%- endblock -%}
    </div>
    <div id="footer">
      {%- block footer -%}
        Etiam dolor sem, dignissim quis elementum vitae, lobortis quis ipsum.
        Nunc tempus sagittis enim, quis convallis imperdiet urna semper non.
        Morbi vel dignissim nunc. Proin imperdiet ornare magna vel sagittis.
        Aliquam tristique in sem a aliquet. Ut porttitor augue non sapien posuere.
        Nulla et accumsan tortor. Phasellus dui non bibendum lectus rhoncus quis.
      {%- endblock -%}
    </div>
  </body>
</html>